@import url("reset.css");

body{
    font-family: 'Montserat', sans-serif;
    color: #525252;
}

a{
    color: inherit;
}

.header {
    background-image: url(../images/header-bg.jpg);
    aspect-ratio: 1440 / 1024;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #FFFFFF;
}

.container {
    margin: 0 auto;
    max-width: 1244px;
}

.title {
    margin-bottom: 24px;
    font-size: 67px;
    font-weight: 600;
    line-height: 72px;
    color: #232A42;
    text-transform: capitalize;
}

.title-green{
    color: #2DA884;
}

.header__nav {
    padding: 28px 0;
}

.nav {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    gap: 172px;
}

.nav__logo {
    align-self: center;
}

.logo {
    font-size: 38px;
    line-height: 48px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 77px;
}

.nav__list-item {
    font-size: 16px;
    line-height: 24px;
}

.nav__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__btn {
    padding: 16px 40px;
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
}

.btn-green {
    color: #FFFFFF;
    background-color: #2DA884;
    border-radius: 100px;
}

.btn-white {
    color: #2DA884;
    background-color: #FFFFFF;
    border-radius: 100px;
}






.header__content{
    padding: 80px 0;
    text-align: center;
}
.header__content-title {
    margin-bottom: 24px;
    font-size: 138px;
    font-weight: 700;
    line-height: 144px;
}
.header__content-text {
    margin: 0 auto;
    max-width: 680px;
    margin-bottom: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.header__content-buttons {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 104px;
}
.header__content-btn {
    padding: 32px 40px;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
}
.advantages__list {
    display: flex;
    padding: 32px;
    gap: 130px;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.advantages__list-item {
}
.advantages__list-number {
    margin-bottom: 8px;
    font-size: 50px;
    line-height: 56px;
    font-weight: 600;
    color: #232A42;
}
.text-green {
    color: #2DA884;
}
.advantages__list-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #525252;
}


/*-----------expertise-----------*/

.expertise {
    padding: 80px 0 160px;
}
.expertise__title {
    max-width: 824px;
}
.expertise__text {
    margin-bottom: 80px;
    max-width: 824px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.expertise__inner {
    display: flex;
}
.expertise__cards {
    flex-basis: 552px;
    margin-right: 96px;
}
.expertise__card {
    margin-bottom: 40px;
    padding: 128px 24px 40px;
    border-radius: 16px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: top 40px left 24px;
    box-shadow: 18px 15px 35px 0 rgb(0, 0, 0, 9%);
}
.expertise__card:last-child{
    margin: 0;
}
.expertise__card-1 {
    background-image: url(../images/expertise__card-1.svg);
}
.expertise__card-2 {
    background-image: url(../images/expertise__card-2.svg);
}
.expertise__card-title {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
}
.expertise__card-text {
    max-width: 504px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.expertise__inner-img {
    flex-basis: 596px;
    object-fit: cover;
}


/*-----------benefits-----------*/

.benefits {
    padding-bottom: 140px;
}
.benefits__inner {
    display: flex;
}
.benefits-img {
    flex-basis: 538px;
    margin-right: 96px;
    object-fit: cover;
}
.benefits__content {
    flex-basis: 610px;
}
.benefits__content-text {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.benefits__list-item {
    margin-bottom: 40px;
    padding: 8px 0 8px 72px;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.benefits__list-item:last-child{
    margin: 0;
}