@import url("reset.css");

body{
    font-family: 'Montserat', sans-serif;
    color: #525252;
}

a{
    color: inherit;
}

.none{
    display: none;
}

.header {
    padding-top: 24px;
    background-image: url(../images/header-bg.jpg);
    aspect-ratio: 1440 / 1024;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #FFFFFF;
}

.container {
    max-width: 1274px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    margin-bottom: 24px;
    font-size: 67px;
    font-weight: 600;
    line-height: 72px;
    color: #232A42;
    text-transform: capitalize;
}

.text{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.header__nav {
    margin-bottom: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.nav__list {
    display: flex;
    gap: 77px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.nav__list-link {
    transition: all 0.1s ease-in;

    &:hover{
        opacity: 0.7;
    }
}

.nav__list-link--dropdown{
    display: flex;
    align-items: center;
    gap: 8px;

    &::after{
        content: url(./../images/icons/arrow.svg);
        height: 24px;
    }
}

.nav__buttons {
    display: flex;
    gap: 32px;
}

.header__btn {
    padding: 16px 40px;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 100px;
}

.header__content .header__btn{
    padding: 32px 40px;
}

.btn-green {
    color: #FFFFFF;
    background-color: #2DA884;
}

.btn-white {
    color: #2DA884;
    background-color: #FFFFFF;
}

.header__content {
    text-align: center;
}

.header__title {
    margin-bottom: 24px;
    font-size: 138px;
    font-weight: 700;
    line-height: 144px;
    text-wrap: balance;
}

.header__text {
    margin: 0 auto;
    max-width: 698px;
    margin-bottom: 56px;
    text-wrap: balance;
}

.header__buttons {
    margin: 0 auto;
    display: inline-flex;
    gap: 40px;
    margin-bottom: 104px;
}

.advantages {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    width: 986px;
    height: 152px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.advantages__item {
    vertical-align: middle;
}

.advantages__number {
    margin-bottom: 8px;
    font-size: 50px;
    font-weight: 600;
    line-height: 56px;
    color: #232A42;
}

.text-green {
    color: #2DA884;
}

.advantages__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #525252;
}

/*-----------feedback-----------*/

.feedback {
    padding-bottom: 80px;
}
.feedback__top{
    text-align: center;
}
.feedback__title {
    margin: 0 auto;
}
.feedback__text {
    margin: 0 auto;
    max-width: 830px;
}


/*-----------expertise-----------*/

.expertise {
    padding: 80px 0 160px;
}
.expertise__top{
    max-width: 824px;
    text-align: left;
}
.expertise__text {
    margin-bottom: 80px;
}
.text{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.expertise__inner {
    display: flex;
}
.expertise__cards {
    flex-basis: 552px;
    margin-right: 96px;
}
.expertise__card {
    margin-bottom: 40px;
    padding: 128px 24px 40px;
    border-radius: 16px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: top 40px left 24px;
    box-shadow: 18px 15px 35px 0 rgb(0, 0, 0, 9%);
}
.expertise__card:last-child{
    margin: 0;
}
.expertise__card-1 {
    background-image: url(../images/expertise__card-1.svg);
}
.expertise__card-2 {
    background-image: url(../images/expertise__card-2.svg);
}
.expertise__card-title {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
}
.expertise__card-text {
    max-width: 504px;
}
.expertise__inner-img {
    flex-basis: 596px;
    object-fit: cover;
}


/*-----------benefits-----------*/

.benefits {
    padding-bottom: 140px;
}
.benefits__inner {
    display: flex;
}
.benefits-img {
    flex-basis: 538px;
    margin-right: 96px;
    object-fit: cover;
}
.benefits__content {
    flex-basis: 610px;
}
.benefits__text {
    margin-bottom: 40px;
}
.benefits__list-item {
    margin-bottom: 40px;
    padding: 8px 0 8px 72px;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.benefits__list-item:last-child{
    margin: 0;
}


/*-----------services-----------*/

.services {
    padding-bottom: 160px;
}
.services__top {
    margin-bottom: 80px;
    max-width: 680px;
    text-align: left;
}
.services__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 40px;
}
.services__card {
    padding: 40px 24px;
    border-radius: 16px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: top 40px left 24px;
    box-shadow: 18px 15px 35px 0 rgb(0, 0, 0, 9%)
}






.services__card-title {
}
.services__card-text {
}   


.services__card-1 {
    background-image: url(../images/eservices__card-1.svg);
}



.services__card-2 {
    background-image: url(../images/eservices__card-2.svg);
}
.services__card-3 {
    background-image: url(../images/eservices__card-3.svg);
}
.services__card-4 {
    background-image: url(../images/eservices__card-4.svg);
}
.services__card-5 {
    background-image: url(../images/eservices__card-5.svg);
}
.services__card-6 {
    background-image: url(../images/eservices__card-6.svg);
}

/*-----------prices-----------*/

.prices {
    padding-bottom: 80px;
}
.prices__tabs {
}
.prices__card {
}
.prices__desc {
}
.prices__desc-title {
}
.prices__desc-text {
}
.prices__price {
    font-size: 67px;
    font-weight: 600;
    line-height: 72px;
    color: #2DA884;
}
.prices__period {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.prices__list {
}
.prices__list-item {
}
.prices__link {
    padding: 24px 40px;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #2DA884;
    border-radius: 100px;
}

/*-----------footer-----------*/

.footer {
    padding: 100px 0;
    color: #FFFFFF;
    background-color: #2DA884;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__desc {
}

.footer__logo{
    margin-bottom: 40px;
}
.footer__text {
    max-width: 270px;
}
.footer__nav {
}
.footer__title {
    margin-bottom: 40px;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
}
.footer__contact {
}
.footer__list{}
.footer__list-item{
    margin-bottom: 20px;
}
.footer__list-item:last-child{
    margin: 0;
}
.footer__list-link {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left;
    vertical-align: baseline;
}
.mail {
    background-image: url(../images/mail.svg);
}
.location {
    max-width: 270px;
    background-image: url(../images/location.svg);
}
.phone {
    background-image: url(../images/phone.svg);
}
.footer__net {
}
.footer__links {
    display: flex;
    gap: 32px;
}
.footer__link {
    width: 40px;
    height: 40px;
}
.footer__link-img {
    max-height:100%;
    max-width: 100%;
}