:root{
    --text-color: #232A42;
    --text-muted: #525252;
    --accent: #2DA884;

    --white-text-color: #ffffff;
    --ui-color: #ffffff;

    --font-main: 'Montserrat', sans-serif;
    --font-second: 'Plus Jakarta Sans', sans-serif;
}